# Use npmjs for default unscoped packages.
registry=https://registry.npmjs.org/
# @vscode packages for this repo come from the Azure feed.
@vscode:registry=https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/npm/registry/
always-auth=false
